<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ChapeauDatabase" connectionString= "Data Source= chapeaufinalproject.database.windows.net;
         Initial Catalog= Chapeau; User=ChapeauGroup1Project; Password=Chapeau1"/>
	</connectionStrings>
</configuration>
